@import "tailwindcss";

@theme {
  --brand-blue: #005f73;
  --brand-red: #ae2012;
  --brand-orange: #ee9b00;
  --brand-yellow: #e9d8a6;
  --brand-light: #f8f9fa;
}

@utility bg-brand-blue {
  background-color: var(--brand-blue);
}

@utility bg-brand-red {
  background-color: var(--brand-red);
}

@utility bg-brand-orange {
  background-color: var(--brand-orange);
}

@utility bg-brand-yellow {
  background-color: var(--brand-yellow);
}

@utility bg-brand-light {
  background-color: var(--brand-light);
}

@utility text-brand-blue {
  color: var(--brand-blue);
}

@utility text-brand-red {
  color: var(--brand-red);
}

@utility text-brand-orange {
  color: var(--brand-orange);
}

@utility text-brand-yellow {
  color: var(--brand-yellow);
}

@utility text-brand-light {
  color: var(--brand-light);
}